html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../images/login_bg.jpg) no-repeat center;
  background-size: cover;
}
.layui-main {
  padding-top: 20px;
}
.loginAndRegisterBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  background-color: #fff;
}
.loginAndRegisterBox .titlebox {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
.loginAndRegisterBox .layui-form {
  padding: 0 30px;
}
.loginAndRegisterBox .layui-form .layui-form-item {
  position: relative;
}
.loginAndRegisterBox .layui-form .layui-form-item input {
  padding-left: 25px;
}
.loginAndRegisterBox .layui-form .layui-form-item input::placeholder {
  font-size: 12px;
  color: #999;
}
.loginAndRegisterBox .layui-form .layui-form-item .layui-icon {
  position: absolute;
  top: 10px;
  left: 5px;
}
.loginAndRegisterBox .layui-form .links {
  display: flex;
  justify-content: flex-end;
}
